{% extends 'base.html.twig' %}

{% block title %}

    {{ vehicule.name }}

{% endblock %}

{% block content1 %}

    <div class="row">
        <div class="col">
            <div class="titre_home">
                <h1>{{ vehicule.name | upper }}</h1>
                <p>{{ vehicule.description }}</p>
            </div>
            <div>
                {% if vehicule.id > 4 %}
                <a href="{{ path('vehicule_delete', { 'id':vehicule.id })}}"><button type="button">DELETE</button></a>
                {% else %}
                <a href="{{ path('main_home')}}"><button type="button">HOME</button></a>
                {% endif %}

            </div>
        </div>
        <div class="col">

                <div class="cardDetails" style="background-image: url(../img/posters/car1.jpg)">
                    <h5 class="titres_vignettes_details">{{ vehicule.name | upper }}</h5>
                    <p>{{ vehicule.description }}</p>
                </div>

        </div>
    </div>


{% endblock %}


{% block content2 %}
    <div class="row2">
    {% for destination in destinations %}
    <div class="col2">
       <!-- <a href="{# path('vehicule_details', { 'id':destination.id }) #}"> -->

                <p>{{ destination.id }}</p>


            </div>



    </div>
    {% endfor %}

{% endblock %}