{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block content1 %}

    <div class="row">
    <div class="col">
        <div class="titre_home">
            <h1>RENT & EXPLORE</h1>
            <p>Choose a vehicle to travel the world</p>
        </div>
        <div>
            <a href="{{ path('main_home') }}"><button type="button">HOME</button></a>
        </div>
    </div>
    </div>

{% endblock %}

{% block content2 %}

    <div class="row2">
        {% for vehicule in vehicules %}
        <div class="col2">
            <a href="{{ path('vehicule_details', { 'id':vehicule.id }) }}">
            <div class="poster" style="background-image: url(../img/posters/{{ vehicule.poster }})">
                <h5>{{ vehicule.name | upper }}</h5>
                <p>{{ vehicule.description }}
                </p>


            </div>
            </a>


        </div>
        {% endfor %}
    </div>

{% endblock %}